<header>
  {{ page.top_header}}
  <nav class="pt-11">
    {{ page.navigation}}
  </nav>
</header>
<section>
  <aside>
  {{ page.left_aside }}
  </aside>
  <main >
    {{ page.content }}
  </main>
  <aside>
    {{ page.right_aside }}
  </aside>
</section>
<footer class="flex flex-wrap items-center justify-around gap-5 p-6 text-white align-middle bg-gray-600 mb-14 sm:mb-0">
  {{ page.footer }}
</footer>