<div class="hero shapped-img">
    <div class="hero-color shapped-img">
    </div>
    <img src="{{items.image_url}}" alt="" class='shapped-img'>
    <div class="hero-content">
        <h2>{{items.header}}</h2>
        <p>{{items.body}}</p>
        <a class="btn btn-primary-red" href="{{items.cta_link}}">{{items.cta_text}}</a>
    </div>
</div>