<div class="hero2">
    <div class="hero-banner">
        <div class="hero-text">
            <h1>{{items.header}}</h1>
            <p>{{items.body}}</p>
            <a class="btn btn-primary-green" href="{{items.cta_link}}">{{items.cta_text}}</a>
        </div>
        <img src="{{items.image_url}}" alt="{{items.header}}">
    </div>
</div>